.main .nr_1 {
	CLEAR: both
}
.nr_1_1 {
	HEIGHT: 380px; PADDING-TOP: 5px; CLEAR: both; DISPLAY: block
}
.nr_1 {
	PADDING-TOP: 10px; CLEAR: both; DISPLAY: block
}
.zuo {
	BORDER-TOP: #d1e3f4 1px solid; HEIGHT: 307px; BORDER-RIGHT: #d1e3f4 1px solid; WIDTH: 748px; BORDER-BOTTOM: #d1e3f4 1px solid; FLOAT: left; BORDER-LEFT: #d1e3f4 1px solid; DISPLAY: block
}
.hdp_dt {
	WIDTH: 748px; DISPLAY: block
}
.ss_tpxw {
	HEIGHT: 37px; BACKGROUND-IMAGE: url(../images/index_51.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px 0px; DISPLAY: block
}
.ss_tpxw UL {
	BACKGROUND-IMAGE: url(../images/index_57.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px
}
.ss_tpxw UL LI {
	FLOAT: left; DISPLAY: block
}
.ss {
	HEIGHT: 37px; MARGIN-TOP: -8px; DISPLAY: block; BACKGROUND-COLOR: #f0f0f0
}
.ss UL {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px
}
.ss UL LI {
	FLOAT: left; DISPLAY: block
}
.ss_k {
	HEIGHT: 30px; WIDTH: 170px; BACKGROUND-IMAGE: url(../images/x/index_14.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 5px
}
.ss_k INPUT {
	BORDER-TOP-STYLE: none; OVERFLOW: hidden; BORDER-LEFT-STYLE: none; HEIGHT: 28px; WIDTH: 150px; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; OUTLINE-STYLE: none; PADDING-LEFT: 30px; LINE-HEIGHT: 28px; PADDING-RIGHT: 5px; BACKGROUND-COLOR: transparent
}
.ss .ss_k {
	PADDING-TOP: 5px
}
.ss .ss_an {
	PADDING-TOP: 5px
}
.zuo_1 {
	HEIGHT: 380px; WIDTH: 540px; FLOAT: left; CLEAR: left; DISPLAY: block
}
.st {
	BORDER-BOTTOM: #999999 1px dashed; PADDING-BOTTOM: 10px
}
.st H1 {
	FONT-SIZE: 32px; TEXT-DECORATION: none; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; FONT-WEIGHT: bold; COLOR: #cc0000; PADDING-BOTTOM: 14px; TEXT-ALIGN: center; PADDING-TOP: 12px; LINE-HEIGHT: 32px
}
.st LI {
	TEXT-DECORATION: none; POSITION: relative; COLOR: #666666; TEXT-INDENT: 2em
}
.st .ls {
	TEXT-DECORATION: none; RIGHT: 0px; POSITION: absolute; FONT-WEIGHT: bold; COLOR: #ff6600; BOTTOM: 0px
}
.st_2 {
	
}
.st_2 H1 {
	FONT-SIZE: 1.5em; TEXT-DECORATION: none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.st_2 LI {
	TEXT-DECORATION: none; COLOR: #666666; TEXT-INDENT: 2em
}
.st_2 .ls {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #0099cc
}
.st_3 {
	WIDTH: 313px; FLOAT: left; PADDING-TOP: 4px; PADDING-LEFT: 12px; DISPLAY: block
}
.st_3 H1 {
	FONT-SIZE: 1.5em; TEXT-DECORATION: none; FONT-WEIGHT: normal; COLOR: #ff6600; PADDING-BOTTOM: 8px; TEXT-ALIGN: center; PADDING-TOP: 5px; LINE-HEIGHT: 30px
}
.st_3 H1 A {
	COLOR: #ff6600
}
.st_3 H1 IMG {
	HEIGHT: 134px; WIDTH: 231px; MARGIN-LEFT: 20px; DISPLAY: block; MARGIN-RIGHT: 20px
}
.st_3 LI {
	TEXT-DECORATION: none; HEIGHT: 44px; COLOR: #999; DISPLAY: block; PADDING-RIGHT: 10px
}
.st_3 DIV {
	HEIGHT: 82px; WIDTH: 124px; FLOAT: left; DISPLAY: block; PADDING-RIGHT: 10px
}
.st_3 DIV IMG {
	HEIGHT: 82px; WIDTH: 124px
}
.st_3 .ls {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff6600
}
.you_tu6 .st_3 {
	TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 30px; MARGIN: 0px auto
}
.you_tu6 .st_3 DIV {
	HEIGHT: 140px; WIDTH: 262px; PADDING-TOP: 10px; MARGIN: 0px auto; DISPLAY: block; PADDING-RIGHT: 0px
}
.you_1 {
	BORDER-TOP: #e6e6e6 1px solid; HEIGHT: 230px; BORDER-RIGHT: #e6e6e6 1px solid; BACKGROUND-IMAGE: url(../images/index_54.gif); BACKGROUND-REPEAT: no-repeat; BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-POSITION: 0px 0px; BORDER-LEFT: #e6e6e6 1px solid; DISPLAY: block
}
.you .you_1 UL {
	PADDING-BOTTOM: 10px; PADDING-TOP: 55px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px
}
.you .you_1 UL LI {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px; DISPLAY: block
}
.zi A {
	TEXT-DECORATION: none; COLOR: #006699
}
.you .you_1 .zuo_z {
	FLOAT: left
}
.you .you_1 .zuo_z INPUT {
	VERTICAL-ALIGN: middle; BACKGROUND-COLOR: transparent
}
.you .you_1 .you_y {
	FLOAT: right
}
.you .you_1 .zh {
	HEIGHT: 32px; WIDTH: 180px; BACKGROUND-IMAGE: url(../images/index_67.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; LINE-HEIGHT: 32px
}
.you .you_1 .zh INPUT {
	HEIGHT: 28px; WIDTH: 165px; PADDING-LEFT: 5px; LINE-HEIGHT: 28px; PADDING-RIGHT: 5px; BACKGROUND-COLOR: transparent
}
.you .you_1 .mm {
	BACKGROUND-IMAGE: url(../images/index_67.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px
}
.you_1_2 {
	BORDER-TOP: #cccccc 3px solid; BORDER-RIGHT: #cccccc 3px solid; MARGIN-TOP: 10px; BORDER-BOTTOM: #cccccc 3px solid; CLEAR: both; BORDER-LEFT: #cccccc 3px solid
}
.nr_2 {
	PADDING-TOP: 10px; CLEAR: both; DISPLAY: block
}
.zuo_2 {
	WIDTH: 752px; FLOAT: left; DISPLAY: block; PADDING-RIGHT: 10px
}
.zuo_2 .zuo_2_2 {
	WIDTH: 367px; FLOAT: left; PADDING-RIGHT: 15px
}
.zuo_2_2_shq {
	FLOAT: left; DISPLAY: block
}
.zuo_2 .zuo_2_2 .zuo_2_2_2 {
	BORDER-TOP: #e8e8e8 1px solid; HEIGHT: 242px; BORDER-RIGHT: #e8e8e8 1px solid; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-POSITION: 0px 0px; BORDER-LEFT: #e8e8e8 1px solid
}
.zuo_2 .zuo_2_2 .zuo_2_2_2 UL {
	
}
.zuo_2 .zuo_2_2 .zuo_2_2_2 SPAN {
	FLOAT: right; COLOR: #999999
}
.jgyh .modtitle {
	HEIGHT: 35px; BACKGROUND-IMAGE: url(../images/index_5.5_03.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; LINE-HEIGHT: 35px
}
.gjqy .modtitle {
	HEIGHT: 35px; BACKGROUND-IMAGE: url(../images/index_96.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; LINE-HEIGHT: 35px
}
.gjqy_1 .modtitle {
	HEIGHT: 35px; BACKGROUND-IMAGE: url(../images/index_5_03.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; LINE-HEIGHT: 35px
}
.zuo_2 .zuo_2_2 .zuo_2_2_2 .gjqy FONT {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333333; PADDING-LEFT: 35px
}
.zuo_2 .zuo_2_2 .zuo_2_2_2 .gjqy SPAN {
	FLOAT: right; PADDING-RIGHT: 10px
}
.zuo_2 .zuo_2_2 .zuo_2_2_2 .gjqy SPAN A {
	COLOR: #0099cc
}
.ldjh .modtitle {
	HEIGHT: 36px; FLOAT: left; DISPLAY: inline-block; LINE-HEIGHT: 36px
}
.zuo_2 .zuo_2_2 .zuo_2_2_2 .ldjh FONT {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333333; PADDING-LEFT: 35px
}
.zuo_2 .zuo_2_2 .zuo_2_2_2 .ldjh SPAN {
	FLOAT: right; PADDING-RIGHT: 10px
}
.zuo_2 .zuo_2_2 .zuo_2_2_2 .ldjh SPAN A {
	COLOR: #0099cc
}
.zuo_2_2_3 {
	MARGIN-TOP: 10px
}
.zuo_2 .zhong_2 {
	WIDTH: 368px; FLOAT: left; DISPLAY: block
}
.zhong_2_2 {
	BORDER-TOP: #e8e8e8 1px solid; HEIGHT: 270px; BORDER-RIGHT: #e8e8e8 1px solid; BORDER-BOTTOM: #e8e8e8 1px solid; POSITION: relative; BACKGROUND-POSITION: 0px 0px; BORDER-LEFT: #e8e8e8 1px solid
}
.zhong_2_2 SPAN {
	FONT-SIZE: 13px; FLOAT: right; COLOR: #888
}
.zhong_2_2 .modhead {
	HEIGHT: 38px; WIDTH: 100%; BORDER-BOTTOM: #cc0000 2px solid; FLOAT: left; COLOR: #cc0000; DISPLAY: block
}
.zhong_2_2 .modhead A {
	
}
.zhong_2_2 .modhead .modtitle {
	FONT-SIZE: 16px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; FLOAT: left; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 10px; LINE-HEIGHT: 40px; PADDING-RIGHT: 10px
}
.zhong_2_2 .modhead .modtitle A {
	TEXT-DECORATION: none; COLOR: #cc0000
}
.zhong_2_2 .modhead .modtitle DIV {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 25px; PADDING-RIGHT: 0px
}
.zhong_2_2 .modmore {
	FLOAT: right; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 8px
}
.zhong_2_2 .modcon {
	WIDTH: 100%; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px
}
.zhong_2_zdgz {
	BORDER-TOP: #e8e8e8 1px solid; HEIGHT: 320px; BORDER-RIGHT: #e8e8e8 1px solid; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-POSITION: 0px 0px; BORDER-LEFT: #e8e8e8 1px solid
}
.zhong_2_zdgz SPAN {
	FONT-SIZE: 12px; FLOAT: right
}
.zhong_2_zdgz .modhead {
	MARGIN-BOTTOM: 5px; BORDER-TOP: #cc0000 2px solid; HEIGHT: 48px; WIDTH: 100%; BACKGROUND-IMAGE: url(../images/x/index_78.gif); BACKGROUND-REPEAT: no-repeat; BORDER-BOTTOM: #cc0000 1px solid; BACKGROUND-POSITION: center 0px; FLOAT: left; COLOR: #cc0000; TEXT-ALIGN: center; DISPLAY: block; LINE-HEIGHT: 48px; BACKGROUND-COLOR: #f3f3f3
}
.zhong_2_zdgz .modhead A {
	
}
.zhong_2_zdgz .modhead .modtitle {
	FONT-SIZE: 16px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; FONT-WEIGHT: bold; LINE-HEIGHT: 48px
}
.zhong_2_zdgz .modhead .modtitle A {
	TEXT-DECORATION: none; COLOR: #c00
}
.zhong_2_zdgz A SPAN {
	FONT-SIZE: 13px; COLOR: #888
}
.zhong_2_zdgz .modhead .modtitle DIV {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 25px; PADDING-RIGHT: 0px
}
.zhong_2_zdgz .modmore {
	FLOAT: right; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px
}
.zhong_2_zdgz .modcon {
	WIDTH: 100%; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px
}
.tu_zt {
	PADDING-TOP: 10px; DISPLAY: block
}
.tu_zt LI {
	HEIGHT: 119px; WIDTH: 149px; FLOAT: left; MARGIN: 5px 6px; DISPLAY: inline-block
}
.qz_1 {
	PADDING-TOP: 8px; CLEAR: both
}
.qz_1 UL {
	
}
.qz_1 UL LI {
	FONT-SIZE: 14px; HEIGHT: 30px; BACKGROUND-IMAGE: url(../images/x/index_55.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px center; PADDING-LEFT: 10px; MARGIN-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 30px; MARGIN-RIGHT: 10px
}
.xhjc .modtitle {
	HEIGHT: 35px; BACKGROUND-IMAGE: url(../images/index_5.5_03-09.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; LINE-HEIGHT: 35px
}
.gwhj .modtitle {
	HEIGHT: 35px; BACKGROUND-IMAGE: url(../images/index_99.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; LINE-HEIGHT: 35px
}
.gwhj_1 .modtitle {
	HEIGHT: 35px; BACKGROUND-IMAGE: url(../images/index_5_05.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; LINE-HEIGHT: 35px
}
.hbsj .modtitle {
	HEIGHT: 35px; BACKGROUND-IMAGE: url(../images/index_5.5_03.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; LINE-HEIGHT: 35px
}
.zuo_2 .zhong_2_2 .gwhj FONT {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333333; PADDING-LEFT: 35px
}
.zuo_2 .zhong_2_2 .gwhj SPAN {
	FLOAT: right; PADDING-RIGHT: 10px
}
.zuo_2 .zhong_2_2 .gwhj SPAN A {
	COLOR: #0099cc
}
.lzjs .modtitle {
	HEIGHT: 35px; BACKGROUND-IMAGE: url(../images/index_116.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; LINE-HEIGHT: 35px
}
.zuo_2 .zhong_2_2 .lzjs FONT {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333333; PADDING-LEFT: 35px
}
.zuo_2 .zhong_2_2 .lzjs SPAN {
	FLOAT: right; PADDING-RIGHT: 10px
}
.zuo_2 .zhong_2_2 .lzjs SPAN A {
	COLOR: #0099cc
}
.you_2 {
	WIDTH: 327px; FLOAT: right; DISPLAY: block
}
.you_2 .you_hgsj {
	HEIGHT: 197px; DISPLAY: block; BACKGROUND-COLOR: #edf7fe
}
.you_2 .you_2_2 {
	BORDER-TOP: #e8e8e8 1px solid; HEIGHT: 498px; BORDER-RIGHT: #e8e8e8 1px solid; BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; DISPLAY: block
}
.you_2 .you_2_2 UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.you_2 .you_2_2 UL LI {
	PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.qz_2 {
	PADDING-TOP: 10px; PADDING-LEFT: 5px
}
.qz_2 UL LI {
	BACKGROUND-IMAGE: url(../images/index_18.gif); BACKGROUND-REPEAT: no-repeat; BORDER-BOTTOM: #e6e6e6 1px dotted; BACKGROUND-POSITION: 0px center; DISPLAY: block; MARGIN-RIGHT: 10px; TEXT-INDENT: 1em
}
.qz_2 UL SPAN {
	FLOAT: right; DISPLAY: inline-block
}
.qz_2 UL SPAN FONT {
	COLOR: #fa053d
}
.qz_3 {
	PADDING-LEFT: 5px; CLEAR: both
}
.qz_3 UL LI {
	DISPLAY: block; MARGIN-RIGHT: 10px
}
.qz_3 UL SPAN {
	FLOAT: right; DISPLAY: inline-block
}
.qz_3 UL SPAN FONT {
	COLOR: #fa053d
}
.qz_4 {
	PADDING-TOP: 10px; PADDING-LEFT: 5px; CLEAR: both
}
.qz_4 LI {
	FLOAT: left; PADDING-BOTTOM: 14px; TEXT-ALIGN: center; PADDING-TOP: 14px; PADDING-LEFT: 14px; DISPLAY: block; PADDING-RIGHT: 14px
}
.qz_4 LI IMG {
	HEIGHT: 79px; WIDTH: 117px; DISPLAY: inline-block
}
.you_2 .you_2_2 .hgsj {
	TEXT-DECORATION: none; HEIGHT: 36px; WIDTH: 140px; BORDER-BOTTOM: #fff 1px solid; LINE-HEIGHT: 36px; BACKGROUND-COLOR: #e9e8e8
}
.you_2 .you_2_2 .hgsj SPAN {
	FLOAT: right; PADDING-RIGHT: 10px
}
.you_2 .you_2_2 .hgsj SPAN A {
	TEXT-DECORATION: none; COLOR: #999999
}
.jwjc .modtitle {
	TEXT-DECORATION: none; HEIGHT: 36px; WIDTH: 140px; BACKGROUND-IMAGE: url(../images/index_5.5_07.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; COLOR: #fff; LINE-HEIGHT: 36px
}
.gsgg .modhead .modtitle {
	FONT-SIZE: 14px; TEXT-DECORATION: none; HEIGHT: 36px; BORDER-BOTTOM: #e1e1e1 2px solid; COLOR: #217cb1; PADDING-LEFT: 10px; LINE-HEIGHT: 36px
}
.gsgg .modcon {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.tp {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.tp LI {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.tp LI DIV {
	WIDTH: 75px; MARGIN-LEFT: auto; DISPLAY: block; MARGIN-RIGHT: auto
}
.zuo_3 .modtitle {
	FONT-SIZE: 14px; HEIGHT: 36px; FLOAT: left; COLOR: #217cb1; PADDING-LEFT: 10px; LINE-HEIGHT: 36px
}
.zuo_3 .modhead {
	BORDER-BOTTOM: #e1e1e1 2px solid
}
.zuo_3 .modmore {
	FLOAT: right; COLOR: #217cb1; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px
}
.zuo_3 .modmore A {
	COLOR: #217cb1; TEXT-ALIGN: right
}
.you_2 .you_2_2 .gsgg SPAN {
	FLOAT: right; PADDING-RIGHT: 10px
}
.you_2 .you_2_2 .gsgg SPAN A {
	TEXT-DECORATION: none; COLOR: #999999
}
.you_2 .you_2_2 .gsgg FONT {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-LEFT: 35px
}
.zcfg .modtitle {
	TEXT-DECORATION: none; HEIGHT: 36px; WIDTH: 140px; COLOR: #fff; LINE-HEIGHT: 36px
}
.you_2 .you_2_2 .zcfg SPAN {
	FLOAT: right; PADDING-RIGHT: 10px
}
.you_2 .you_2_2 .zcfg SPAN A {
	TEXT-DECORATION: none; COLOR: #999999
}
.you_2 .you_2_2 .zcfg FONT {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-LEFT: 35px
}
.nr_3 {
	PADDING-TOP: 10px; CLEAR: both; DISPLAY: block
}
.zuo_3 {
	OVERFLOW: hidden; BORDER-TOP: #e8e8e8 1px solid; HEIGHT: 312px; BORDER-RIGHT: #e8e8e8 1px solid; WIDTH: 748px; BORDER-BOTTOM: #e8e8e8 1px solid; FLOAT: left; BORDER-LEFT: #e8e8e8 1px solid; DISPLAY: block
}
.nr_3 .zuo_3_3 {
	DISPLAY: block
}
.sxzy_k_2 IMG {
	BORDER-TOP: #e8e8e8 2px solid; BORDER-RIGHT: #e8e8e8 2px solid; BORDER-BOTTOM: #e8e8e8 2px solid; MARGIN-LEFT: 5px; BORDER-LEFT: #e8e8e8 2px solid; MARGIN-RIGHT: 5px
}
.you_3 {
	BORDER-TOP: #e1e1e1 1px solid; HEIGHT: 312px; BORDER-RIGHT: #e1e1e1 1px solid; WIDTH: 230px; BORDER-BOTTOM: #e1e1e1 1px solid; FLOAT: right; BORDER-LEFT: #e1e1e1 1px solid
}
.nr_4 {
	PADDING-TOP: 10px; CLEAR: both; DISPLAY: block
}
.nr_1_4 {
	HEIGHT: 210px
}
.nr_1_4 .zuo_4 {
	WIDTH: 707px; FLOAT: left
}
.nr_1_4 .zuo_4 .zuo_4_4 {
	WIDTH: 350px; FLOAT: left; PADDING-RIGHT: 10px
}
.nr_1_4 .zuo_4 .zuo_4_4 .zuo_4_4_4 {
	HEIGHT: 210px; BACKGROUND-IMAGE: url(../images/index_156.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left bottom
}
.nr_1_4 .zuo_4 .zuo_4_4 .zuo_4_4_4 UL {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.qz_3 LI {
	
}
.jyfz_2 .modtitle {
	HEIGHT: 31px; WIDTH: 241px; BACKGROUND-IMAGE: url(../images/index_137_2.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px
}
.jyfz .modtitle {
	HEIGHT: 31px; WIDTH: 241px; BACKGROUND-IMAGE: url(../images/index_137.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px
}
.nr_1_4 .zuo_4 .zuo_4_4 .zuo_4_4_4 .jyfz UL {
	PADDING-TOP: 5px; PADDING-RIGHT: 5px
}
.nr_1_4 .zuo_4 .zuo_4_4 .zuo_4_4_4 .jyfz UL FONT {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #0053a1; PADDING-LEFT: 35px
}
.nr_1_4 .zuo_4 .zuo_4_4 .zuo_4_4_4 .jyfz UL SPAN {
	FLOAT: right
}
.zuoy_15 {
	MARGIN-LEFT: 16px; MARGIN-RIGHT: 16px
}
.zhong_4 {
	BORDER-TOP: #e1e1e1 1px solid; HEIGHT: 260px; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; DISPLAY: block
}
.zhong_4_4 {
	
}
.zhong_4_4 UL {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.zy_10 {
	
}
.fwzn_2 .modtitle {
	HEIGHT: 31px; WIDTH: 241px; BACKGROUND-IMAGE: url(../images/index_139_2.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px
}
.fwzn .modhead {
	HEIGHT: 39px; BACKGROUND-IMAGE: url(../images/x/index_128.gif); BACKGROUND-REPEAT: repeat-y; BORDER-BOTTOM: #e1e1e1 2px solid; BACKGROUND-POSITION: 0px 50%
}
.fwzn .modhead .modtitle {
	FONT-SIZE: 16px; HEIGHT: 39px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; FLOAT: left; FONT-WEIGHT: bold; COLOR: #fff; PADDING-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 39px
}
.fwzn .modhead .modmore {
	HEIGHT: 39px; WIDTH: 158px; BACKGROUND-IMAGE: url(../images/x/index_109.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; FLOAT: right; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 0px; PADDING-LEFT: 0px; LINE-HEIGHT: 39px; PADDING-RIGHT: 10px
}
.fwzn .modmore A {
	COLOR: #fff
}
.zhong_4_4 .fwzn UL {
	PADDING-TOP: 5px; PADDING-RIGHT: 5px
}
.zhong_4_4 .fwzn UL FONT {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #0053a1; PADDING-LEFT: 35px
}
.zhong_4_4 .fwzn UL SPAN {
	FLOAT: right
}
.you_4 {
	WIDTH: 262px; FLOAT: right
}
.you_4_4 {
	DISPLAY: block
}
.you_4_4_4 {
	HEIGHT: 210px; BACKGROUND-IMAGE: url(../images/index_154.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right bottom
}
.you_4_4_4 UL {
	
}
.you_4_4_4 UL SPAN {
	BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid; FLOAT: left; BORDER-LEFT: #e6e6e6 1px solid; MARGIN: 5px; DISPLAY: block
}
.zy_10 UL LI {
	BACKGROUND-IMAGE: url(../images/index_150.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px center; CLEAR: both; DISPLAY: inline-block; MARGIN-RIGHT: 10px; TEXT-INDENT: 1em
}
.pdb .modhead {
	HEIGHT: 31px; WIDTH: 262px; BACKGROUND-IMAGE: url(../images/index_141.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; DISPLAY: inline-block
}
.pdb_2 .modhead {
	HEIGHT: 31px; WIDTH: 262px; BACKGROUND-IMAGE: url(../images/index_141_2.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; DISPLAY: inline-block
}
.you_4_4_4 .pdb UL FONT {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #0053a1; PADDING-LEFT: 25px
}
.you_4_4_4 .pdb UL SPAN {
	FLOAT: right; PADDING-RIGHT: 5px
}
.yqlj_1 {
	DISPLAY: block
}
.yqlj_1 .modhead {
	FONT-SIZE: 16px; HEIGHT: 46px; BACKGROUND-IMAGE: url(../images/x/index_128.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px bottom; PADDING-TOP: 5px; PADDING-LEFT: 20px; LINE-HEIGHT: 46px
}
.yqlj_1 .modcon {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.yqlj_1 LI {
	FONT-SIZE: 14px; WIDTH: 24%; FLOAT: left; TEXT-ALIGN: center; DISPLAY: block
}
.n_r_box .info_list {
	FONT-SIZE: 14px; PADDING-TOP: 10px
}
.n_r_box {
	CLEAR: both
}
.n_r_box .info_list LI {
	FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/x/index_55.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; DISPLAY: block; LINE-HEIGHT: 30px; TEXT-INDENT: 1em
}
.n_r_box .info_list LI SPAN {
	FONT-SIZE: 13px; FLOAT: right; COLOR: #888; DISPLAY: inline-block
}
.you {
	HEIGHT: 307px; WIDTH: 230px; FLOAT: right
}
.jg_10 {
	HEIGHT: 10px; DISPLAY: block
}
.you_n_1 {
	BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid
}
.zuo_2_2 {
	WIDTH: 327px; FLOAT: left
}
.zhong_2 {
	WIDTH: 327px; FLOAT: left; MARGIN-LEFT: 14px; MARGIN-RIGHT: 14px
}
.you_tu1 {
	BACKGROUND-IMAGE: url(../images/x/index_40.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top
}
.you_tu2 {
	BACKGROUND-IMAGE: url(../images/x/index_42.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top
}
.you_tu3 {
	BACKGROUND-IMAGE: url(../images/x/index_44.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top
}
.you_tu4 {
	BACKGROUND-IMAGE: url(../images/x/index_61.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top
}
.you_tu5 {
	BACKGROUND-IMAGE: url(../images/x/index_63.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top
}
.you_tu6 {
	BACKGROUND-IMAGE: url(../images/x/index_64.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top
}
.zhong_xw {
	WIDTH: 450px; FLOAT: right; DISPLAY: block
}
.lszln_r_box .info_list {
	FONT-SIZE: 14px; PADDING-TOP: 10px
}
.lszln_r_box {
	BORDER-TOP: #e8e8e8 1px solid; HEIGHT: 250px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; BORDER-RIGHT: #e8e8e8 1px solid; BACKGROUND-IMAGE: url(../images/x/index_75.gif); BACKGROUND-REPEAT: no-repeat; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-POSITION: 0px 0px; PADDING-TOP: 70px; CLEAR: both; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #efeee9
}
.lszln_r_box .tab {
	HEIGHT: 46px; COLOR: #c20c00; LINE-HEIGHT: 46px
}
.lszln_r_box .tab A {
	
}
.lszln_r_box .tab UL {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.lszln_r_box .tab LI {
	FONT-SIZE: 16px; CURSOR: pointer; HEIGHT: 35px; WIDTH: 150px; WHITE-SPACE: nowrap; FLOAT: left; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 35px; PADDING-RIGHT: 0px
}
.lszln_r_box .tab LI A {
	HEIGHT: 46px; WHITE-SPACE: nowrap; FLOAT: left; LINE-HEIGHT: 32px
}
.lszln_r_box .tab LI .tl {
	HEIGHT: 46px; BACKGROUND-IMAGE: url(../images/x/index_64.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.lszln_r_box .tab LI .tr {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.lszln_r_box .tab LI .tc {
	WHITE-SPACE: nowrap; FLOAT: left; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 45px; PADDING-RIGHT: 45px
}
.n_r_box .tab LI.on .tl {
	HEIGHT: 35px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.lszln_r_box .tab LI.on .tr {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.lszln_r_box .tab LI.on .tc {
	TEXT-DECORATION: none; BACKGROUND-IMAGE: url(../images/x/index_62.png); WHITE-SPACE: nowrap; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 0px; FLOAT: left; FONT-WEIGHT: bold; COLOR: #cc0000; TEXT-ALIGN: center
}
.lszln_r_box .tab LI.on .tc A {
	FONT-SIZE: 16px; TEXT-DECORATION: none; COLOR: #cc0000
}
.n_r_box .tab .tabmore A {
	FONT-SIZE: 16px; TEXT-DECORATION: none; COLOR: #cc0000
}
.lszln_r_box .tab .tabmore {
	
}
.lszln_r_box .modcon {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.lszln_r_box .modcon .info_list {
	FONT-SIZE: 14px
}
.lszln_r_box .modcon .info_list A {
	COLOR: #3d1f02
}
.lszln_r_box .info_list LI {
	BACKGROUND-IMAGE: url(../images/x/index_55.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; DISPLAY: block; LINE-HEIGHT: 30px; TEXT-INDENT: 1em
}
.dcyj_r_box .info_list {
	FONT-SIZE: 14px; PADDING-TOP: 10px
}
.dcyj_r_box {
	BORDER-TOP: #e8e8e8 1px solid; HEIGHT: 315px; BORDER-RIGHT: #e8e8e8 1px solid; WIDTH: 496px; BORDER-BOTTOM: #e8e8e8 1px solid; CLEAR: both; BORDER-LEFT: #e8e8e8 1px solid
}
.dcyj_r_box .tab {
	HEIGHT: 46px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; COLOR: #c20c00; LINE-HEIGHT: 40px
}
.dcyj_r_box .tab A {
	FONT-SIZE: 16px
}
.dcyj_r_box .tab UL {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.dcyj_r_box .tab LI {
	FONT-SIZE: 14px; CURSOR: pointer; HEIGHT: 36px; WIDTH: 248px; WHITE-SPACE: nowrap; FLOAT: left; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 36px; PADDING-RIGHT: 0px
}
.dcyj_r_box .tab LI A {
	HEIGHT: 46px; WHITE-SPACE: nowrap; FLOAT: left
}
.dcyj_r_box .tab LI .tl {
	HEIGHT: 55px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.dcyj_r_box .tab LI .tr {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.dcyj_r_box .tab LI .tc {
	HEIGHT: 55px; BACKGROUND-IMAGE: url(../images/x/index_81.gif); WHITE-SPACE: nowrap; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom; FLOAT: left; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 55px; PADDING-RIGHT: 1px
}
.dcyj_r_box .tab LI.on {
	
}
.dcyj_r_box .tab LI.on .tl {
	HEIGHT: 55px; BACKGROUND-IMAGE: url(../images/x/index_77.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.dcyj_r_box .tab LI.on .tr {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.dcyj_r_box .tab LI.on .tc {
	TEXT-DECORATION: none; HEIGHT: 55px; BACKGROUND-IMAGE: url(../images/x/index_77.gif); WHITE-SPACE: nowrap; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px bottom; FLOAT: left; FONT-WEIGHT: bold; COLOR: #cc0000; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 55px
}
.dcyj_r_box .tab LI.on .tc .dcdy {
	BACKGROUND-IMAGE: url(../images/x/index_96.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; PADDING-RIGHT: 128px
}
.dcyj_r_box .tab LI .tc .dcdy {
	BACKGROUND-IMAGE: url(../images/x/index_2_71.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; PADDING-RIGHT: 128px
}
.dcyj_r_box .tab LI.on .tc .wyfc {
	BACKGROUND-IMAGE: url(../images/x/index_2_73.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; PADDING-RIGHT: 128px
}
.dcyj_r_box .tab LI .tc .wyfc {
	BACKGROUND-IMAGE: url(../images/x/index_98.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; PADDING-RIGHT: 128px
}
.dcyj_r_box .tab LI.on .tc .wmjs {
	BACKGROUND-IMAGE: url(../images/x/index_100.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; PADDING-RIGHT: 128px
}
.dcyj_r_box .tab LI .tc .wmjs {
	BACKGROUND-IMAGE: url(../images/x/index_2_75.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; PADDING-RIGHT: 128px
}
.dcyj_r_box .tab LI.on .tc .jgdj {
	BACKGROUND-IMAGE: url(../images/x/index_2_77.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; PADDING-RIGHT: 128px
}
.dcyj_r_box .tab LI .tc .jgdj {
	BACKGROUND-IMAGE: url(../images/x/index_102.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 0px; PADDING-RIGHT: 128px
}
.dcyj_r_box .tab LI.on .tc A {
	TEXT-DECORATION: none; COLOR: #cc0000
}
.n_r_box .tab .tabmore A {
	TEXT-DECORATION: none; COLOR: #cc0000
}
.dcyj_r_box .tab .tabmore {
	
}
.dcyj_r_box .modcon {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.dcyj_r_box .modcon .info_list {
	FONT-SIZE: 14px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.dcyj_r_box .info_list LI {
	OVERFLOW: hidden; HEIGHT: 30px; BACKGROUND-IMAGE: url(../images/x/index_55.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; DISPLAY: block; LINE-HEIGHT: 30px; TEXT-INDENT: 1em
}
.dcyj_r_box .info_list LI SPAN {
	FLOAT: right; DISPLAY: inline-block
}
.zhong_2_2_zy10 {
	HEIGHT: 12px; WIDTH: 12px; FLOAT: left; DISPLAY: block
}
.kj_chk {
	WIDTH: 100px; POSITION: fixed; MARGIN-LEFT: 550px; LEFT: 50%; Z-INDEX: 100; DISPLAY: block; TOP: 322px
}
.kj_chk UL {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BACKGROUND-IMAGE: url(../images/x/index_tm_13.png); BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid
}
.kj_chk UL LI {
	FONT-SIZE: 13px; WIDTH: 80px; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; MARGIN-LEFT: 10px; DISPLAY: block; MARGIN-RIGHT: 10px
}
.kj_yi A {
	WIDTH: 80px; BACKGROUND-IMAGE: url(../images/x/index_2_10.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; PADDING-TOP: 40px; DISPLAY: block
}
.kj_yi A:hover {
	BACKGROUND-IMAGE: url(../images/x/index_10.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top
}
.kj_er A {
	WIDTH: 80px; BACKGROUND-IMAGE: url(../images/x/index_2_21.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; PADDING-TOP: 40px; DISPLAY: block
}
.kj_er A:hover {
	BACKGROUND-IMAGE: url(../images/x/index_17.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top
}
.kj_san A {
	WIDTH: 80px; BACKGROUND-IMAGE: url(../images/x/index_2_28.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; PADDING-TOP: 44px; DISPLAY: block
}
.kj_san A:hover {
	BACKGROUND-IMAGE: url(../images/x/index_24.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top
}
.kj_si A {
	WIDTH: 80px; BACKGROUND-IMAGE: url(../images/x/index_2_31.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; PADDING-TOP: 40px; DISPLAY: block
}
.kj_si A:hover {
	BACKGROUND-IMAGE: url(../images/x/index_27.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top
}
.kj_chk UL LI.kj_wu {
	BORDER-BOTTOM-STYLE: none
}
.kj_wu A {
	WIDTH: 80px; BACKGROUND-IMAGE: url(../images/x/index_2_35.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; PADDING-TOP: 40px; DISPLAY: block
}
.kj_wu A:hover {
	BACKGROUND-IMAGE: url(../images/x/index_31.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top
}
.cnm_tit {
	HEIGHT: 110px
}
.picScroll-left {
	FONT-SIZE: 13px; OVERFLOW: hidden; WIDTH: 980px; POSITION: relative; TEXT-ALIGN: center; MARGIN: 15px auto
}
.picScroll-left .hd {
	Z-INDEX: 3
}
.picScroll-left .hd .prev {
	OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 50px; WIDTH: 30px; BACKGROUND: url(../images/x/icon.png) no-repeat 0px -60px; POSITION: absolute; LEFT: 0px; Z-INDEX: 10; DISPLAY: block; TOP: 50px; opacity: 0.6
}
.picScroll-left .hd .next {
	OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 50px; WIDTH: 30px; BACKGROUND: url(../images/x/icon.png) no-repeat 0px -60px; POSITION: absolute; LEFT: 0px; Z-INDEX: 10; DISPLAY: block; TOP: 50px; opacity: 0.6
}
.picScroll-left .hd .next {
	RIGHT: 0px; BACKGROUND-POSITION: 0px 0px; LEFT: auto
}
.picScroll-left .hd .prev:hover {
	opacity: 1
}
.picScroll-left .hd .next:hover {
	opacity: 1
}
.picScroll-left .bd {
	
}
.picScroll-left .bd UL {
	OVERFLOW: hidden; ZOOM: 1
}
.picScroll-left .bd UL LI {
	OVERFLOW: hidden; FLOAT: left; TEXT-ALIGN: center; LINE-HEIGHT: 24px; MARGIN-RIGHT: 20px; _display: inline
}
.picScroll-left .bd UL LI {
	TEXT-ALIGN: center
}
.picScroll-left .bd UL LI IMG {
	HEIGHT: 160px; WIDTH: 180px; DISPLAY: block
}
.picScroll-left .bd UL LI IMG:hover {
	opacity: 0.9
}
.picScroll-left .bd UL LI P {
	MARGIN-TOP: 4px; LINE-HEIGHT: 24px
}
.yqlj_1 LI SELECT {
	HEIGHT: 30px; WIDTH: 140px
}
.txtMarquee-left {
	WIDTH: 620px; POSITION: relative; PADDING-LEFT: 80px
}
.txtMarquee-left .hd {
	OVERFLOW: hidden
}
.txtMarquee-left H2 {
	FONT-SIZE: 15px; POSITION: absolute; COLOR: #c00; LEFT: 0px; LINE-HEIGHT: 36px; TOP: 0px
}
.txtMarquee-left .bd .tempWrap {
	WIDTH: 620px !important
}
.txtMarquee-left .bd UL {
	OVERFLOW: hidden; ZOOM: 1
}
.txtMarquee-left .bd UL LI {
	FONT-SIZE: 14px; HEIGHT: 36px; WIDTH: auto !important; FLOAT: left; TEXT-ALIGN: left; LINE-HEIGHT: 36px; MARGIN-RIGHT: 40px; _display: inline
}
.txtMarquee-left .bd UL LI SPAN {
	COLOR: #999
}
.crumbs {
	FONT-SIZE: 13px; HEIGHT: 24px; BACKGROUND: url(../images/sub_tit.jpg) no-repeat left 5px; BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 20px; LINE-HEIGHT: 24px
}
.main_new {
	WIDTH: 1020px; PADDING-BOTTOM: 20px; PADDING-TOP: 10px; PADDING-LEFT: 10px; MARGIN: 0px auto; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #fff
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.list_box {
	MARGIN-TOP: 15px
}
.wid200px_fl {
	WIDTH: 232px
}
.wid800px {
	BORDER-TOP: #e1e1e1 1px; BORDER-RIGHT: #e1e1e1 1px solid; WIDTH: 770px; BORDER-BOTTOM: #e1e1e1 1px solid; MIN-HEIGHT: 800px; BORDER-LEFT: #e1e1e1 1px solid; BACKGROUND-COLOR: #fff
}
.ty_tit {
	FONT-SIZE: 16px; HEIGHT: 40px; BORDER-BOTTOM-STYLE: none; COLOR: #333; LINE-HEIGHT: 40px; BACKGROUND-COLOR: #c00; border-top-left-radius: 4px; border-top-right-radius: 4px
}
.ty_tit H2 {
	FONT-SIZE: 16px; COLOR: #fff; TEXT-ALIGN: center
}
.list_box {
	
}
.tit_fl {
	BORDER-TOP: #c00 2px solid; HEIGHT: 40px; BORDER-BOTTOM: #e1e1e1 1px solid
}
.tit_fl H2 {
	FONT-SIZE: 16px; OVERFLOW: hidden; HEIGHT: 20px; COLOR: #c00; PADDING-LEFT: 8px; BORDER-LEFT: #c00 3px solid; MARGIN: 10px 15px; LINE-HEIGHT: 20px
}
.list_nav {
	MARGIN-BOTTOM: 10px; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-RIGHT: 10px
}
.list_nav UL LI {
	FONT-SIZE: 15px; OVERFLOW: hidden; MARGIN-BOTTOM: 8px; HEIGHT: 34px; LINE-HEIGHT: 34px; BACKGROUND-COLOR: #f6f6f6; border-radius: 4px
}
.list_nav UL LI A {
	OVERFLOW: hidden; TEXT-DECORATION: none; HEIGHT: 34px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; COLOR: #333; PADDING-LEFT: 20px; DISPLAY: block; LINE-HEIGHT: 34px; PADDING-RIGHT: 12px
}
.list_nav UL LI A:hover {
	BACKGROUND-COLOR: #f5d2d2; border-radius: 4px
}
.list_nav UL LI.active A {
	BACKGROUND: url(../images/arrow_1.png) #c00 no-repeat 96% center; COLOR: #fff; border-radius: 4px; background-size: 14px 14px
}
.ty_nav {
	MARGIN-BOTTOM: 10px; BORDER-TOP: #e1e1e1 1px; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid
}
.ty_nav H2 {
	FONT-SIZE: 16px; OVERFLOW: hidden; BORDER-TOP: #c00 2px solid; HEIGHT: 40px; BORDER-BOTTOM: #e1e1e1 1px solid; POSITION: relative; FONT-WEIGHT: normal; COLOR: #c00; PADDING-LEFT: 15px; LINE-HEIGHT: 40px
}
.jchd_con {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.act_pic {
	MARGIN-BOTTOM: 5px; HEIGHT: 120px; WIDTH: 210px; POSITION: relative
}
.act_pic IMG {
	HEIGHT: 120px; WIDTH: 210px
}
.jchd_con UL LI {
	FONT-SIZE: 13px; OVERFLOW: hidden; HEIGHT: 26px; BACKGROUND: url(../images/arrow.png) no-repeat left center; PADDING-LEFT: 12px; LINE-HEIGHT: 26px
}
.title_txt {
	FONT-SIZE: 14px; OVERFLOW: hidden; HEIGHT: 32px; WIDTH: 100%; POSITION: absolute; COLOR: #fff; TEXT-ALIGN: center; LEFT: 0px; LINE-HEIGHT: 32px; BOTTOM: 0px
}
A.more_btn {
	FONT-SIZE: 14px; RIGHT: 12px; POSITION: absolute; FONT-WEIGHT: normal; COLOR: #666; TOP: 0px
}
A.more_btn:hover {
	COLOR: #c00
}
.list_ty {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.list_ty UL LI {
	FONT-SIZE: 14px; HEIGHT: 24px; BACKGROUND: url(../images/news_li_bg.png) no-repeat left center; BORDER-BOTTOM: #e1e1e1 1px dashed; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 15px; LINE-HEIGHT: 24px; PADDING-RIGHT: 0px
}
.list_ty UL LI SPAN {
	FONT-SIZE: 12px; FLOAT: right; COLOR: #999
}
.zt_list {
	PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.zt_list UL LI {
	MARGIN-BOTTOM: 10px
}
.zt_list UL LI IMG {
	HEIGHT: 60px; WIDTH: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.zt_list UL LI A {
	OVERFLOW: hidden; HEIGHT: 60px; DISPLAY: block
}
.n_r_box .info_list2 {
	FONT-SIZE: 14px; PADDING-TOP: 10px
}
.n_r_box {
	CLEAR: both
}
.n_r_box .info_list2 LI {
	FONT-SIZE: 14px; OVERFLOW: hidden; HEIGHT: 30px; BACKGROUND-IMAGE: url(../images/arrow.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; PADDING-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 30px
}
.n_r_box .info_list2 LI SPAN {
	FONT-SIZE: 13px; FLOAT: right; COLOR: #888; DISPLAY: inline-block
}
.photo_list {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.photo_list UL LI {
	FONT-SIZE: 12px; HEIGHT: 190px; WIDTH: 130px; FLOAT: left; TEXT-ALIGN: center; MARGIN: 15px 28px
}
.photo_list H2 {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 15px; COLOR: #c00; TEXT-ALIGN: center
}
.photo_list UL LI IMG {
	MARGIN-BOTTOM: 3px; HEIGHT: 165px; WIDTH: 130px
}
.video_list {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.video_list UL LI {
	HEIGHT: 160px; WIDTH: 170px; FLOAT: left; TEXT-ALIGN: center; MARGIN: 0px 8px 15px
}
.video_list UL LI IMG {
	MARGIN-BOTTOM: 5px; HEIGHT: 130px; WIDTH: 170px
}
.video_list UL LI A {
	FONT-SIZE: 14px; HEIGHT: 180px; WIDTH: 200px; POSITION: relative; DISPLAY: block
}
.video_list UL LI P {
	OVERFLOW: hidden; HEIGHT: 24px
}
.video_list UL LI A .bf_btn {
	HEIGHT: 50px; WIDTH: 50px; BACKGROUND: url(../images/bofang_icon_hover.png) no-repeat center center; MARGIN-TOP: -16px; POSITION: absolute; MARGIN-LEFT: -16px; LEFT: 50%; Z-INDEX: 10; DISPLAY: block; TOP: 65px; background-size: 32px 32px
}
.video_list UL LI IMG:hover {
	FILTER: alpha(opacity=80); opacity: 0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
}
.nr_1 IMG {
	HEIGHT: 92px; WIDTH: 1010px
}
.nr_1 .tu_zt IMG {
	HEIGHT: 119px; WIDTH: 149px
}
.wyzf_list2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.wyzf_list2 UL LI {
	FONT-SIZE: 12px; OVERFLOW: hidden; HEIGHT: 70px; BORDER-BOTTOM: #e1e1e1 1px dashed; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 0px; LINE-HEIGHT: 22px; PADDING-RIGHT: 0px
}
.wyzf_list2 UL LI IMG {
	MARGIN-BOTTOM: 5px; HEIGHT: 70px; WIDTH: 70px; FLOAT: left; MARGIN-RIGHT: 15px; border-radius: 6px
}
.wyzf_list2 UL LI H2 {
	FONT-SIZE: 15px; MARGIN-BOTTOM: 2px; COLOR: #333; LINE-HEIGHT: 26px
}
.wyzf_list2 UL LI A {
	COLOR: #f60
}
.wyzf_list2 UL LI:unknown {
	BORDER-BOTTOM-STYLE: none
}
.wyzf_list2 UL LI H2 A {
	COLOR: #333
}
.wyzf_list2 UL LI H2 A:hover {
	COLOR: #c00
}
.sp_boxd {
	MARGIN-BOTTOM: 6px; HEIGHT: 160px; WIDTH: 300px; MARGIN-TOP: 12px; PADDING-LEFT: 13px
}
.contact_box2 {
	FONT-SIZE: 16px; COLOR: #333; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 10px; LINE-HEIGHT: 34px; PADDING-RIGHT: 10px
}
.contact_box2 H2 {
	FONT-SIZE: 22px; MARGIN-BOTTOM: 20px; TEXT-ALIGN: center; LINE-HEIGHT: 50px
}
.yqlj_1 UL LI SELECT {
	FONT-SIZE: 14px
}
.st H1 A {
	FONT-FAMILY: "Î¢ÈíÑÅºÚ"; COLOR: #c00
}
.st H1 A:hover {
	TEXT-DECORATION: none; COLOR: #333
}
.st_3 H1 A {
	FONT-FAMILY: "Î¢ÈíÑÅºÚ"; COLOR: #333
}
.st_3 H1 A:hover {
	COLOR: #f60
}
.modtitle {
	FONT-FAMILY: "Î¢ÈíÑÅºÚ"
}
H2 {
	FONT-FAMILY: "Î¢ÈíÑÅºÚ"
}
.ss_k {
	POSITION: relative
}
.ss_k INPUT.ss_btn2 {
	CURSOR: pointer; HEIGHT: 29px; WIDTH: 70px; BACKGROUND: url(../images/x/index_15.jpg) no-repeat; RIGHT: -68px; POSITION: absolute; FLOAT: left; TOP: 5px
}

@media Unknown    
{
.kj_chk {
	RIGHT: 20px; POSITION: fixed; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LEFT: auto; MARGIN: 0px; Z-INDEX: 1000000; TOP: auto; PADDING-RIGHT: 0px; BOTTOM: 20px
}
    }
.yqlj_con {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.yqlj_box {
	FONT-SIZE: 14px; WIDTH: 24%; FLOAT: left; TEXT-ALIGN: center
}
.yqlj_box SELECT {
	FONT-SIZE: 14px; HEIGHT: 30px
}
.dd_boxd {
	HEIGHT: 119px; WIDTH: 149px; MARGIN-TOP: 7px; FLOAT: left; MARGIN-LEFT: 9px
}
.dd_boxd IMG {
	HEIGHT: 119px; WIDTH: 149px
}
